:root{
--text-color: white;
--background-color: black;
--item-color: orange;
}
body{
  margin:0;
  font-family:'Source Sans Pro';
}
a{
  text-decoration: none;
  color: var(--text-color);

}
.navbar{
  display: flex;
  justify-content:space-between;
  align-items:center;
  background-color:var(--background-color);
  padding: 8px 12px;
}
.navbar_logo{
  font-size: 24px;
}
.navbar_logo i{
  color: var(--item-color);
}
.navbar_menu{
  display: flex;
  padding-left:0;
}
.navbar_menu li{
  padding: 8px 12px;
  list-style: none;
}
.navbar_menu li:hover{
  background-color: var(--item-color);
  border-radius: 5px;
}
.navbar_icons{
  list-style: none;
  color:var(--text-color);
  display: flex;
  padding-left: 0;
}
.navbar_icons li{
  padding: 8px 12px;
}
.navbar_toggleBtn{
  position: absolute;
  right: 32px;
  font-size: 24px;
  color:var(--item-color);
  display: none;
}
@media screen and (max-width:768px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar_menu{
    display: none;
    flex-direction: column;
    align-items: center;
    width:100%;
  }
  .navbar_menu li{
    width:100%;
    text-align: center;
  }
  .navbar_icons{
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar_toggleBtn{
    display: block;
  }
  .navbar_menu.active ,
  .navbar_icons.active{
    display: flex;
  }
}
